@use "../variables/" as var;

#contact {
  margin-top: 15rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;

  @include var.tablet {
  }
  @include var.desktop {
    // height: 40vh;
  }

  ul {
    font-size: 3rem;
    // margin: 3rem;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    li {
      margin: 0.5rem;
    }

    @include var.mobile {
      font-size: 7rem;
    }
    @include var.tablet {
    }
    @include var.desktop {
      padding-left: 10rem;
      padding-right: 10rem;
      // padding: 6rem;
    }
  }
}
