@use "../variables/" as var;

#contact {
  margin: 2rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;

  @include var.tablet {
    font-size: 5rem;
  }
  @include var.desktop {
    // padding: 6rem;
  }

  ul {
    font-size: 5rem;
    margin: 3rem;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include var.tablet {
      font-size: 7rem;
    }
    @include var.desktop {
      padding-left: 10rem;
      padding-right: 10rem;
      // padding: 6rem;
    }
  }
}
