@use "./../variables/" as var;

footer {
  font-size: 4rem;
  height: 13vh;
  width: 100vw;
  padding: 2rem;
  border-top: 2px solid var.$paleBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var.$brown;
  @include var.tablet {
    font-size: 5rem;
  }
  @include var.desktop {
    padding: 6rem;
  }

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
