@use "./../variables/" as var;

header {
  width: 100vw;
  height: 10vh;
  top: 0;
  font-size: 0.9rem;
  background-color: var.$brown;
  border-bottom: 4px solid var.$paleBlue;
  padding: 1rem;
  @include var.mobile {
    font-size: 2rem;
  }
  @include var.tablet {
    // font-size: 2rem;
  }
  @include var.desktop {
    padding: 0;
  }
}

nav {
  a {
    text-decoration: none;
    color: var.$white;
  }
  ul {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    // gap: 4rem;
    @include var.desktop {
      gap: 10rem;
      justify-content: flex-end;
      padding: 2rem;
    }
  }
}
