@use "./../variables/" as var;

#home {
  // height: 90vh;
  // overflow: scroll;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @include var.tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.homeHeader {
  font-size: 5rem;
  margin: 10 1 rem;
  writing-mode: vertical-rl;
  @include var.mobile {
    font-size: 8rem;
    writing-mode: horizontal-tb;
  }
  @include var.tablet {
    word-spacing: 100vw;
    font-size: 10rem;
    padding: 1 rem;
  }
  @include var.desktop {
    font-size: 15rem;
    // padding-bottom: 7rem;
    margin-left: 3rem;
  }
}

.homeSpan {
  font-size: 2rem;
  padding-top: 5rem;
  @include var.tablet {
    font-size: 3rem;
  }
  @include var.desktop {
    font-size: 5rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
  }
}
