#project {
  margin-top: 15rem;
}

.repoContainer {
  width: 200px;
  border: 2px solid orange;
}

.repoHeader {
  font-size: bold;
}

.repoText {
  font-style: italic;
}

.repoBtns {
  border: none;
}
